<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#59809E">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <!--a id="skip-to-content" href="#content">Skip to the content.</a-->
    <header class="page-header" role="banner">
      <!--h1 class="project-name">{{ site.title | default: site.github.repository_name }}</h1-->
      <div class="column">
        <a href="index.html">
          <img src="images/RBAtools.svg">
        </a>
      </div>
      <div class="row">
        <div class="column">
          <a href="usage.html">
            <img src="images/RBA_Userguide.svg">
          </a>
        </div>
        <div class="column">
          <a href="installation.html">
            <img src="images/RBA_Availability.svg">
          </a>
        </div>
        <div class="column">
          <a href="test_doc.html">
            <img src="images/RBA_APIreference_clicked.svg">
          </a>
        </div>
      </div>
    </header>

    <div id="myGoToTopButton" class="gototopButton" onclick="topFunction()">
      &#10514;
    </div>
    
    <main id="content" class="code-content" role="main">
      {{ content }}
    </main>

    <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
    <script>

        function scrollFunction() {
          if (document.body.scrollTop > 90 || document.documentElement.scrollTop > 90) {
            document.getElementById("myGoToTopButton").style.display = "block";
          } else {
            document.getElementById("myGoToTopButton").style.display = "none";
          }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
          document.body.scrollTop = 0;
          document.documentElement.scrollTop = 0;
        }

        window.onscroll = function() {scrollFunction()};
      </script>
    {% endif %}
  </body>
</html>
