<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#59809E">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="shortcut icon" type="image/svg" href="images/greyblue_favicon_192x192.svg">
  </head>
  <body>
    <!--a id="skip-to-content" href="#content">Skip to the content.</a-->
    <header id=header class="page-header" role="banner">
      <!--h1 class="project-name">{{ site.title | default: site.github.repository_name }}</h1-->
      <div class="column">
        <a href="index.html">
          <img src="images/RBAtools.svg" width="120" height="60">
        </a>
      </div>
  </header>

    <div id="backbutton" class="gobackButton" onclick="location.href='api_ref.html'">
      &#8617;
    </div>
      
    <main id="content" class="code-content" role="main">
      {{ content }}      
    </main>

    <script>
        function openNav() {
          document.getElementById("content").style.marginRight = "30px";
          document.getElementById("sidebar").style.width = "auto";
          const sbar = document.getElementById("sidebar");
          const sbarstyle = window.getComputedStyle(sbar);
          const sbarwidth = sbarstyle.getPropertyValue('width');
          document.getElementById("content").style.marginLeft = sbarwidth;
          document.getElementById("header").style.marginLeft = sbarwidth;
          document.getElementById("myOpenButton").style.display = "none";
        }
        openNav()
        </script>
  </body>
</html>

